<ion-content>
  <p class="ion-text-justify">
    Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf 
    asdf adsfasdfa df
  </p>
  <br>
  <p>
    Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf Ela Kiriasdf asdf asdfasdfa sdfasdfadsf asdfadsfadsf asdfasdfasdf asdfasdfasdf asdfasdfasdf asdf adsfasdf asdf adsf asdfasdf asdfasdf afs 
    asdf 
    asdf adsfasdfa df
  </p>
</ion-content>
