<ion-header>
  <ion-toolbar>
    <ion-title>ATD Application List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-grid>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Filter Atd Form
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Filter By</ion-label>
            <ion-select [(ngModel)]="atdStatus" (ngModelChange)="getAtdList()">
              <ion-select-option *ngFor="let st of status" [value]="st.status_number">{{st.english}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-row>

  <ion-row>
    <ion-grid>
      <ion-card *ngFor="let atd of atdList">
        <ion-card-content>
          <p>{{atd.initname}}</p>
          <p>{{atd.ward_name}}, {{atd.street_name}}, <strong>{{atd.assessment_no}}</strong></p>
          <ion-item lines="none">
            
            <div *ngIf="user">
              <ion-button *ngIf="user && user.appCatName==='RI'" slot="end" shape="round" size="small" color="medium"
                (click)="loadAtdData(atd)">info
              </ion-button>
            </div>

            <div *ngIf="user">
              <ion-button *ngIf="user && user.appCatName==='CRI' || user.appCatName==='CC' || user.appCatName==='AO'"
                slot="end" shape="round" size="small" color="medium" (click)="loadAtdDataCri(atd)">Approval Info
              </ion-button>
            </div>

          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-row>


</ion-content>