<ion-header>
  <ion-toolbar>
    <ion-title>CRI Approve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-grid>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            දෙපල හිමිකරුගේ / හිමිකරුවන්ගේ විස්තර
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label>NIC : {{assessment?.cus_nic}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Customer Name : {{assessment?.cus_name}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Assessment : {{assessment?.ward_name}}, {{assessment?.street_name}},
              {{assessment?.assessment_no}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-row>


  <ion-row>
    <ion-grid>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            දේපල ලියාපදිංචිය සඳහා අයදුම්කරුගේ / අයදුම්කරුවන්ගේ නම්
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item lines="none" *ngFor="let cus  of newCustomers">
              <ion-label>{{cus.nic}}</ion-label>
              <p>{{cus.fullname}}</p>
              <p>{{cus.adl1}}, {{cus.adl2}}, {{cus.adl3}}, </p>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-row>

  <ion-row>
    <ion-grid>
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>ඔප්පුවේ අංකය :</ion-label>
              <p>{{atd?.oppu_no}}</p>
            </ion-item>
            <ion-item>
              <ion-label>ඔප්පුවේ ස්වභාවය :</ion-label>
              <p>{{atd?.oppu_nature}}</p>
            </ion-item>
            <ion-item>
              <ion-label>පත්තිරු අංකය :</ion-label>
              <p>{{atd?.pathtiru_no}}</p>
            </ion-item>
            <ion-item>
              <ion-label>නොතාරිස් ගේ නම :</ion-label>
              <p>{{atd?.notharis_name}}</p>
            </ion-item>
            <ion-item>
              <ion-label>පිඹුරේ අංකය :</ion-label>
              <p>{{atd?.pimbura_no}}</p>
            </ion-item>
            <ion-item>
              <ion-label>මිනින්දෝරු නම :</ion-label>
              <p>{{atd?.minindoru_name}}</p>
            </ion-item>
            <ion-item>
              <ion-label>ඉඩමේ ප්‍රමාණය අක්කර :</ion-label>
              <p>{{atd?.land_acres}}</p>
            </ion-item>
            <ion-item>
              <ion-label>ඉඩමේ ප්‍රමාණය රූඩ් :</ion-label>
              <p>{{atd?.land_rudd}}</p>
            </ion-item>
            <ion-item>
              <ion-label>ඉඩමේ ප්‍රමාණය පර්චස් :</ion-label>
              <p>{{atd?.land_parch}}</p>
            </ion-item>
            <ion-item>
              <ion-label>කැබලි අංකය / Lot No :</ion-label>
              <p>{{atd?.land_lotno}}</p>
            </ion-item>

            <ion-item>
              <ion-label> ලියූ දිනය :</ion-label>
              {{atd?.handover_date  |  date: 'yyyy-MM-dd'}}
            </ion-item>
            <ion-item>
              <ion-label>ඉඩමේ විස්තරය :</ion-label>
              <p>{{atd?.land_description_text}}</p>
            </ion-item>
            <ion-item>
              <ion-label>ඉඩමේ වටිනාකම :</ion-label>
              <p>{{atd?.land_value}}</p>
            </ion-item>

            <br>
            <ion-label>ඉඩමේ පිහිටීම :</ion-label>

            <ion-item *ngFor="let s of sides">
              <ion-label>{{s.side_name}}</ion-label>
              <p>{{s.side_info}}</p>
            </ion-item>

            <br>
            <ion-label>යාබද දේපල :</ion-label>

            <ion-item *ngFor="let ass of niarest">
              <ion-label>{{ass.assessment_no}} , {{ass.ass_nature_name}} , {{ass.ass_discription}} </ion-label>
            </ion-item>



          </ion-list>

        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-row>

  <ion-row>
    <ion-slides [options]="sliderConfig" pager="true">
      <ion-slide *ngFor="let image of imageArray">

        <div class="swiper-zoom-container">
          <img [src]="image.img" style="height: 200px;" (click)="clickOnimage(image)">
          <!-- <ion-button>Full Screen</ion-button> -->
        </div>

      </ion-slide>
    </ion-slides>
  </ion-row>

  <ion-row>
    <ion-grid>
      <ion-card *ngFor="let ap of approval">
        <ion-card-header>
          <ion-card-title *ngIf="ap.status_int==1" color="success">{{ap.approval_name}} - {{ap.status_string}}
          </ion-card-title>
          <ion-card-title *ngIf="ap.status_int==2" color="danger">{{ap.approval_name}} - {{ap.status_string}}
          </ion-card-title>
          <ion-card-subtitle>{{ap.user_full_name}}</ion-card-subtitle>
          <ion-card-subtitle>{{ap.dt | date: 'yyyy-MM-dd  HH:mm' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ap.comment}}
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-row>

  <div *ngIf="user">
    <ion-row *ngIf="user && user.appCatName==='CRI' || user.appCatName==='CC' || user.appCatName==='AO'">
      <ion-grid>
        <ion-card>
          <ion-card-header>
            <ion-card-title *ngIf="user && user.appCatName==='CRI'">CRI Approve</ion-card-title>
            <ion-card-title *ngIf="user && user.appCatName==='CC'">CC Approve</ion-card-title>
            <ion-card-title *ngIf="user && user.appCatName==='AO'">AO Approve</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>නිරීක්ෂණය හා නිර්දේ්‍ශය</ion-label>
                <ion-input [(ngModel)]="comm"></ion-input>
              </ion-item>
            </ion-list>
            <ion-button color="secondary" (click)="approve(1)"> Approve </ion-button>
            <ion-button color="danger" (click)="approve(2)"> Reject </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-grid>
    </ion-row>
  </div>

</ion-content>